body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    overflow: hidden;
    background-color: Black;
    font-family: Arial;
    color: White;
    font-size: 11pt;
}

#msText, #fpsText {
    font-family: Arial !important;
}

#loadingMessage {
    position: absolute;
    width: 400px;
    height: 100px;
    margin-left: -200px;
    margin-top: -50px;
    left: 50%;
    top: 50%;
    color: White;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

#divTitlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 72px;
    right: 0px;
    border-bottom: 2px solid #333;
    background-color: rgba(0,0,0,0.7);
    padding-left: 10px;
}

    #divTitlebar img {
        margin-top: 8px;
        margin-left: 8px;
        width: 115px;
        height: 50px;
    }

#divTopInfo {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 230px;
}

#divTopOptions {
    position: absolute;
    right: 250px;
    top: 5px;
}

    #divTopOptions td {
        padding-right: 20px;
    }

#canvaserror {
    position: absolute;
    display: none;
    width: 400px;
    height: 100px;
    margin-left: -200px;
    margin-top: -50px;
    left: 50%;
    top: 50%;
    color: White;
}

#divCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

a {
    text-decoration: none;
    color: White;
}

    a:hover {
        color: Yellow;
    }

.dialog {
    position: absolute;
    display: block;
    background: rgba(33, 41, 82, 0.6);
    backdrop-filter: blur(3px);
    border:solid 3px rgba(33, 41, 82, 1);
    border-radius: 8px;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 180px;
    margin-left: -160px;
    margin-top: -90px;
}

.dialog > div{
    padding:20px;
}

.dialog > div > ul {
    padding-inline-start: 10px;
}