body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Black;
    font-family: Arial;
    color: White;
    font-size: 11pt;
}

#msText,
#fpsText {
    font-family: Arial !important;
}

#divLoadingMessage {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    color: White;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

#divTitlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 72px;
    right: 0px;
    border-bottom: 2px solid #333;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
}

#divTitlebar img {
    margin-top: 8px;
    margin-left: 8px;
    width: 115px;
    height: 50px;
}

#divTopInfo {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 230px;
}

#divTopOptions {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 5px;
}

#divTopOptions>div {
    display: inline-block;
}

#divTopOptions>div>label {
    display: block;
    padding-right: 20px;
    cursor: pointer;
}

#canvaserror {
    position: absolute;
    display: none;
    width: 400px;
    height: 100px;
    margin-left: -200px;
    margin-top: -50px;
    left: 50%;
    top: 50%;
    color: White;
}

#divCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

a {
    text-decoration: none;
    color: White;
    transition: all 1s ease;
}

a svg {
    transition: all 1s ease;
}

a:hover {
    color: Yellow;
}

a:hover svg {
    fill: yellow !important;
}

dialog {
    background: rgba(33, 41, 82, 0.6);
    backdrop-filter: blur(3px);
    border: solid 3px rgb(124 126 141);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    width: 320px;
    top:50%;
    transform: translateY(-50%);
}

dialog>div {
    padding: 20px 20px 0px 20px;
}

dialog>div>ul {
    padding-inline-start: 10px;
}

dialog>div>ul>li {
    margin-bottom: 2px;
}

dialog>div>ul>li::marker {
    color: white;
}